* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
	padding: 20px 10px;
	background-color: #f1f0e8;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

h1 {
	text-align: center;
	margin: 20px 0;
	color: #89a8b2;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

#landing {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.hidden {
	display: none !important;
}
.modal {
	background: #b3c8cf;
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 20px;
	max-width: 800px;
	width: 100%;
	margin-bottom: 10px;
}

.modal label {
	color: #f1f0e8;
	font-weight: 600;
}

.modal input,
.modal select {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #89a8b2;
	background-color: #e5e1da;
	max-width: 500px;
	width: 100%;
	margin-bottom: 10px;
}

.modal input:focus,
.modal select:focus {
	outline: none;
}

.modal h2 {
	margin-bottom: 20px;
	color: #f1f0e8;
}

.modal ul {
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.modal ul li {
	background-color: #f1f0e8;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal ul li button {
	background-color: #b3c8cf;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	transition: all 0.3s;
	margin-top: 0;
}

.modal ul li button:hover {
	background-color: #e5e1da;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 16px;
	margin: 20px 0;
}

.modal button {
	background-color: #f1f0e8;
	padding: 10px 20px;
	border: none;
	border-radius: 12px;
	color: black;
	cursor: pointer;
	transition: all 0.3s;
	margin-top: 15px;
	align-self: center;
}

.modal button:hover {
	background-color: #e5e1da;
}

.modal select {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #89a8b2;
	background-color: #e5e1da;
	max-width: 500px;
}

.modal select:focus {
	outline: none;
}

.buttons button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #b3c8cf;
	color: black;
	cursor: pointer;
	transition: all 0.3s;
}

.buttons button:hover {
	background-color: #e5e1da;
}

#searchBar {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border-radius: 10px;
	border: 1px solid #b3c8cf;
	background-color: #e5e1da;
	max-width: 500px;
}

#searchBar:focus {
	outline: none;
}

#searchBar::placeholder {
	color: #b3c8cf;
}

/* Courses Styling */
#coursesList a {
	text-decoration: none;
	color: #f1f0e8;
}

#coursesList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.course-modal {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.course-modal #editCourseForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: start;
	width: 100%;
}

.courses,
.students {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 4rem;
	gap: 20px;
}

.courses h2,
.students h2 {
	color: #89a8b2;
}

.notes {
	display: flex;
	flex-direction: column;
}

.notes label {
	color: black;
	font-weight: 300;
	font-size: 14px;
}

.course-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	border-radius: 20px;
}

#editStudentList li {
	overflow-y: auto;
	display: flex;
	gap: 20px;
}

#editStudentList li input {
	width: auto;
}

.course-card {
	background-color: #b3c8cf;
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 8px;
	border-radius: 20px;
}

.course-card span {
	margin-top: 10px;
	color: #89a8b2;
	text-decoration: underline;
}

.student-card {
	background-color: #b3c8cf;
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 8px;
	border-radius: 20px;
	text-decoration: none;
	color: #f1f0e8;
}

.student-card span {
	margin-top: 10px;
	color: #89a8b2;
	text-decoration: underline;
}

#studentsList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

#studentDetails {
	background-color: #b3c8b;
	padding: 10px;
	max-width: 800px;
	margin: 20px auto;
	color: #f1f0e8;
}

#studentDetails h3 {
	margin-top: 20px;
	color: #f1f0e8;
}

#studentDetails ul {
	list-style-type: none;
	padding: 0;
}

#studentDetails ul li {
	background-color: #e5e1da;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	color: black;
}

#courseDetails {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.course-id {
	font-weight: bold;
	color: #89a8b2;
	margin-bottom: 10px;
}

#courseId {
	font-weight: bold;
	color: #89a8b2;
	margin-bottom: 10px;
}

#studentMidterm,
#studentFinal {
	display: none;
}

.delete-btn {
	background-color: #ff4c4c;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.delete-btn:hover {
	background-color: #ff1a1a;
}

.modal ul li button,
.buttons button.delete-btn {
	background-color: #ff4c4c;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.modal ul li button:hover,
.buttons button.delete-btn:hover {
	background-color: #ff1a1a;
}

.highlight {
	font-weight: bold;
	color: #89a8b2;
	font-size: 1.2em;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th,
td {
	padding: 6px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #89a8b2;
	color: #f1f0e8;
}

td {
	background-color: #b3c8cf;
	color: #f1f0e8;
}

table tbody {
	display: block;
	max-height: 300px;
	overflow-y: auto;
}

table thead,
table tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

th:nth-child(1),
td:nth-child(1) {
	width: 30%;
}

th:nth-child(2),
td:nth-child(2),
th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5),
th:nth-child(6),
td:nth-child(6) {
	width: 14%;
}

#courseStats {
	border-radius: 10px;
	margin-bottom: 20px;
	text-align: center;
	color: #000;
}

#courseStats p {
	margin: 10px 0;
	font-weight: bold;
}

#toggleCourseStatsBtn {
	background-color: #89a8b2;
	color: #f1f0e8;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-bottom: 20px;
}

#toggleCourseStatsBtn:hover {
	background-color: #6f8a9b;
}

.go-back-btn {
	background-color: #89a8b2;
	color: #f1f0e8;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 20px;
}

.go-back-btn:hover {
	background-color: #6f8a9b;
}
